.cards {
  display: flex;
  margin: auto;

  .card {
    padding: 20px;
    border-radius: 20px;
    border: none;
    width: 100%;

    p.subtitle,
    .btn-see-all {
      font-size: 14px;
      font-weight: 600;
      color: #a6a6a6;
      margin-bottom: 0.5rem;
    }

    .btn-see-all {
      padding: 0;
    }

    h2.number {
      font-size: 32px;
      font-weight: 600;
      color: black;
      margin: 0;
    }

    h4.subject {
      font-size: 16px;
      font-weight: 600;
      color: black;
      margin: 0;
    }

    p.badge {
      font-size: 14px;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 8px;
      width: fit-content;
      margin-top: 10px;
      margin-bottom: 0;

      &.badge-error {
        color: #ff6060;
        background: #ffd0d0;
      }

      &.badge-success {
        color: #4cbc6b;
        background: #cef2d8;
      }
    }

    .sub-header {
      display: flex;
      margin-bottom: 1rem;

      .subtitle,
      .btn-see-all {
        margin: auto;
      }

      .subtitle {
        margin-left: 0;
      }

      .btn-see-all {
        margin-right: 0;
      }
    }

    .card-banner {
      padding: 15px;
      border-radius: 15px;

      .card-img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 0.5px solid rgba(149, 31, 80, 0.5);
        margin-right: 15px;

        i {
          font-size: 25px;
          padding: 10px;
          color: #a83d6a;

          &::before {
            margin-top: 10px;
          }
        }
      }

      .annoucement-info {
        .title {
          font-size: 14px;
          font-weight: 600;
          margin: 0;
        }

        .message {
          font-size: 12px;
          margin: 0;
        }
      }

      .cal-date {
        margin-right: 15px;

        h4 {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: -5px;
          text-align: center;
        }

        p {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: -5px;
          text-align: center;
        }
      }

      .calendar-info {
        .title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 0;
        }

        .message {
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }
  }

  .mr-card {
    margin-right: 20px;
  }

  &.mb-30 {
    margin-bottom: 30px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  @media (max-width: 992px) {
    display: block;

    .card {
      margin-bottom: 1rem;
    }
  }
}
